<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AMADON</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'amadon_app/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Amadon Store!</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in request.session.products %}
                <tr>
                    <td>{{product.item}}</td>
                    <td>${{product.price}}</td>
                
                
                    <td><form action="buy/", method="post">
                            {%csrf_token%}
                            <input type="hidden" name="action" value="{{product.item}}">
                            <select name="qty">
                                
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                    <td><input type="submit" value="Buy!"></td>
                
                        </form>
                </tr>
                {% endfor %}
 
            </tbody>
        </table>

    </div>
</body>
</html>